.left-right-padding-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.left-right-margin-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.padding-10 {
    padding: 10px;
}

input {
    min-width: 225px;
}

.flex-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-float {
    float: right;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.vertical-center {
    top: 30vh;
    position: absolute
}