
<div class="flex-display">
    <div class="vertical-center">
        <mat-card class="left-right-margin-10">
            <div class="padding-10">
                <mat-label class="left-right-padding-10">User Name</mat-label>
                <input matInput placeholder="Enter User Name" [(ngModel)]="userName" required>
            </div>
            <div class="padding-10">
                <mat-label class="left-right-padding-10">Password</mat-label>
                <input class="right-float" matInput type="password" placeholder="Enter Password" [(ngModel)]="password" required>
            </div>

            <div class="padding-10 flex-end">
                <button class="left-right-margin-10" aria-label="example submit" mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
                <button class="left-right-margin-10" mat-raised-button color="accent" type="reset" (click)="reset()">Cancel</button>
            </div>
        </mat-card>
    </div>
</div>